
/* debut css navbar */
#navnavbar{
    background-color:#b69133;
    
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
ul .ni{
    text-align:center;}
#ni, #ni1, #ni2, #ni3, #ni4, #ni5, #ni6 {
    color: #46470f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    text-decoration: none;  
}
a{
    text-decoration: none;
    color: #46470f;
}
@media (max-width: 1100px) {
    #ni, #ni1, #ni2, #ni3, #ni4, #ni5, #ni6 {
        font-size: 17px;
}
}
.banierelogo{
        width: 100%;
        height:86px;}  
/* fin css nav bar */

/* debut css footer */
#footer{
    background-color: #92701a;
    width: 100vw;     
}
#containerfooter{
    margin: 0;
    width: 100vw;
    padding: 0;    
}

#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8,#f9{
    color: #2e3007;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none; 
    font-size: 13px;  
    text-align: center;
    align-items: center;   
}

#t1, #t2, #t3, #t4{
    color: #2e3007;
    letter-spacing: 2px;
    font-size: 17px;
    text-align: center;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#copyright{
    background-color: rgba(0, 0, 0, 0.2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* fin de footer */


